*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden
}

body {
	display: flex;
	color: #333;
	color: rgba(0,0,0,.8);
	min-height: 100vh;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
	-webkit-font-smoothing: antialiased;
	flex-direction: row;
	align-items: stretch;
}

a {
	color: inherit;
}
img {
	max-width: 100%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}



/* ===== Layout ===== */

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
	/* dont remove «overflow», because fotorama have some troubles without it */
	overflow: auto;
}

.content {
	flex: 1;
}

.container {
	max-width: 800px;
	margin: 10px auto;
}

/* ===== SIDEBAR ===== */
.sidebar {
	flex-direction: column;
    letter-spacing: 1px;
	background: #3c3c3c;
    color: #999;
    min-width: 300px;
    z-index: 100;
    padding: 20px;
    text-align: center;
}
.sidebar__mountain {
	width: 150px;
	background-color: #3c3c3c;
	margin-bottom: -4px;
	z-index:1;
	align-self: center;
}
.sidebar__navigation {
	padding: 50px 0;
	margin: 0;
	border: 1px solid #868686;
}
.sidebar__navigation li a {
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	transition: color 0.3s linear;
	position: relative;
}
.sidebar__navigation li {
	margin: 5px 0 30px;
	list-style-type: none;
}
.sidebar__navigation li:last-child {
	margin-bottom: 0;
}
.sidebar__navigation li a:hover {
	color: #ccc;
}

.sidebar__navigation__button {
    border: 1px solid;
    margin: 20px;
    padding: 10px;
    border-radius: 3px;
}

.sidebar__navigation li sup {
    color: #666;
    font-size: 14px;
    margin: 5px;
    top: -0.3em;
    position: absolute;
}

.sidebar__social {
	display: inline-block;
	background: #3c3c3c;
	margin:0;
	padding: 10px;
	position: relative;
	top: -18px; /* 1/2 height of block */
}

.sidebar__social li {
	display: inline-block;
	list-style-type: none;
	margin: 0 3px;
}
.sidebar__social a {
    display: block;
    width: 18px;
    height: 18px;
    opacity: 0.2;
    transition: opacity 0.3s linear;
}

.sidebar__social .fb {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1" viewBox="0 0 18 18"><path fill="#FFF" d="M14.473 0H3.525C1.588 0 0 1.591 0 3.523v10.949C0 16.408 1.588 18 3.525 18h10.947C16.409 18 18 16.41 18 14.475V3.525C18 1.592 16.41 0 14.473 0zm-2.059 4.608h-1.236c-.969 0-1.152.459-1.152 1.141v1.488h2.309l-.299 2.327h-2.012v5.997H7.61V9.564H5.596V7.237h2.016V5.513c0-1.996 1.219-3.083 3-3.083.857 0 1.592.063 1.803.094v2.084h-.001z"/></svg>') no-repeat 50% 50%;
}

.sidebar__social .vk {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 18"><defs><path id="a" d="M0 0h18v18H0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path fill="#FFF" d="M3.526 0h10.947c1.938 0 3.528 1.592 3.528 3.526v10.948c0 1.937-1.591 3.527-3.528 3.527H3.526C1.588 18 0 16.409 0 14.473V3.524C0 1.591 1.588 0 3.526 0m10.06 11.033c0-.682-.185-1.225-.559-1.625-.375-.403-.874-.67-1.494-.806v-.05c.434-.181.768-.467 1.014-.846.25-.379.369-.818.369-1.304 0-.426-.084-.804-.268-1.125-.174-.327-.448-.585-.806-.776-.327-.178-.687-.3-1.068-.35-.379-.059-.938-.086-1.678-.086h-3.55v10.051h4.027c.691 0 1.268-.066 1.718-.195.452-.122.873-.334 1.248-.63.321-.251.572-.559.764-.94.191-.381.283-.817.283-1.318m-3.234-4.129c0-.159-.043-.331-.12-.495-.088-.173-.217-.303-.391-.373-.169-.074-.362-.117-.594-.124-.227-.005-.567-.005-1.015-.005h-.175v2.124h.316c.436 0 .741 0 .909-.008.174-.017.352-.061.542-.143.201-.096.335-.233.413-.397.079-.162.115-.357.115-.579m.635 4.085c0-.315-.065-.552-.189-.733-.132-.171-.315-.309-.565-.39-.152-.068-.369-.096-.635-.101-.265-.007-.627-.007-1.076-.007h-.465v2.515h.138c.658 0 1.109-.007 1.359-.013.251-.02.51-.076.766-.188.233-.104.401-.244.504-.438.106-.184.163-.4.163-.645" clip-path="url(#b)"/></svg>') no-repeat 50% 50%;
}

.sidebar__social .ig {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1" viewBox="0 0 18 18"><path fill="#FFF" d="M14.472 0H3.526C1.588 0 0 1.591 0 3.523v10.949C0 16.408 1.588 18 3.526 18h10.946C16.409 18 18 16.41 18 14.475V3.525C18 1.592 16.41 0 14.472 0zm1.047 2.073h.398v3.05l-3.04.01-.012-3.051 2.654-.009zM6.431 7.152c.575-.8 1.512-1.319 2.567-1.319 1.059 0 1.997.522 2.573 1.319.373.521.598 1.158.598 1.846 0 1.75-1.424 3.168-3.17 3.168s-3.168-1.418-3.168-3.168c.002-.687.223-1.325.6-1.846zm9.813 7.371c0 .951-.772 1.721-1.725 1.721H3.478c-.953 0-1.725-.77-1.725-1.721V7.152H4.44c-.23.57-.361 1.195-.361 1.846 0 2.715 2.206 4.924 4.919 4.924 2.719 0 4.924-2.209 4.924-4.924 0-.65-.134-1.275-.364-1.846h2.687v7.371z"/></svg>') no-repeat 50% 50%;
}
.sidebar__social .yt {
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" version="1" viewBox="0 0 18 18"><path fill="#fff" d="M14.471 0H3.526C1.588 0 0 1.59 0 3.524V14.47c0 1.938 1.588 3.528 3.526 3.53h10.945C16.41 18 18 16.41 18 14.472V3.525C18 1.591 16.41 0 14.471 0zm-.959 9.843L7.457 13.34c-.143.082-.309.13-.484.13-.538 0-.973-.435-.973-.973V5.502c0-.538.435-.973.972-.973.124 0 .244.023.354.067.091.036.174.084.249.143l5.936 3.417c.292.167.489.482.489.844 0 .361-.197.676-.488.843z"/></svg>') no-repeat 50% 50%;
}

.logo {
	color: #fff;
	display: inline-block;
	margin-bottom: 50px;
	font-family: 'PT Serif Caption', serif;
	font-size: 35px;
	text-decoration: none;
}


/* ===== Content ===== */
.content p {
	margin: 1.5em auto;
	max-width: 800px;
	font-size: 21px;
	line-height: 1.58
}

.content p a {
	text-decoration: none;
	color: #0064a8;
	border-bottom: thin solid rgba(0, 100, 168, .2);
	transition: border-bottom,border-color,background,color ease-out .33s;
}
.content p a:active,
.content p a:focus,
.content p a:hover {
	border-color: rgba(0, 100, 168, .5);
	color: #cd192e;
    border-bottom-color: #f9cdd2;
}

.content h2,
.content h3  {
	margin: auto;
	max-width: 800px;
	font-family: 'PT Serif Caption', serif;
}


.page-title {
	font-family: 'PT Serif Caption', serif;
	font-size: 35px;
	margin:30px;
	text-align: center;
}

.btn {
	background-color: #38495a;
	color: #fff !important;
	cursor: pointer;
	border: 0;
	padding: 10px 15px;
	border-radius: 3px;
	transition: all 0.3s;
	text-decoration: none;
}
.btn:hover {
	background-color: #475869;
}

.kgb {
    background-color: #ff5747;
    color: #fff;
    text-transform: uppercase;
    font: 25px/30px sans-serif;
    font-weight: 600;
    padding: 23px 40px;
    position: relative;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.map-zoomin, .map-zoomout {
	background: #fff;
	position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #7fcba8;
    font-size: 50px;
    text-decoration: none;
    z-index: 100;
}
.map-zoomout {
	top: 80px;
	background: #ebebeb;
}

.map {
	width: 100%;
	height: 100vh;
}

.places-in-category {
	display: flex;
	flex-wrap: wrap;
}


.places-in-category__place {
	display: flex;
	background-color: #eee;
	background-size: cover;
	background-position: center 35%;
	align-items: flex-end;
	height: 300px;
	flex-basis: 400px;
	flex-grow: 1;
	text-decoration: none;
	margin: 5px;
}

.places-in-category__place__description {
	font-size: 18px;
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
	color: #fff;
	bottom: 0;
	padding: 30px 20px 20px 20px;
	width: 100%;
	text-decoration: none;
}

.edit-place-form__field {
	font-size: 20px;
	display: block;
	padding: 10px;
	width: 100%;
}

.edit-place-form__field:invalid {
	color: red;
}

.edit-place-form__field_alias {
	display: inline-block;
	padding: 0;
	border: 0;
	width: auto;
	font-size: 16px;
}

.image-preview {
	float: left;
	position: relative;
	margin: 10px 10px 0 0;
}

.image-previews__add-image-button {
	cursor: pointer;
	display: flex;
	align-items: center;
	text-align: center;
	font-size: 20px;
	color:#ccc;
	height: 150px;
	width: 150px;
	background: #eee;
	float: left;
	margin: 10px 10px 0 0;
}

@keyframes loading {
  from {
    background-color: #ddd;
  }

  to {
    background-color: #eee;
  }
}

.image-previews__add-image-button.upload-dropzone_loading {
	background: #eee;
	animation-name: loading;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.upload-dropzone_loading span {
	display: none;
}

.image-preview__image {
	height: 150px;
}
.image-preview__caption {
	position: absolute;
	bottom: 0;
	width:100%;
	border:0;
	color: #333;
}


.image-preview__remove-button {
	opacity: 0;
	position: absolute;
	top: -5px;
	right: -5px;
	background: red;
	border-radius: 20px;
	color: #fff;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	transition: all 0.1s;
	cursor: pointer;
}

.image-preview:hover .image-preview__remove-button {
	opacity: 1;

}

.map-preview {
	width: 100%;
	height: 300px;
}


.category-list__item {
	display: flex;
	background-color: #eee;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 3px;
}

.category-list__item__name {
	flex: 1;
	line-height: 30px;
}

.category-list__item__remove-button {
	border:0;
	background: transparent;
	align-self: flex-end;
	width: 30px;
	opacity: 0;
	transition: opacity ease-in-out .3s;
}

.category-list__item:hover .category-list__item__remove-button {
	display: inline-block;
	opacity: 1;
}

.category-list__new-form {
	display: flex;
	background: #ededed;
}

.category-list__new-form__input {
	padding: 10px;
	font-size: 1.2em;
	flex:1;
	margin: 10px;
}
.full-page-message {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
/* ===== FOOTER ===== */
.footer {
	display: flex;
	background-color: #3c3c3c;
	color: #b2b2b2;
	align-items: stretch;
	flex-direction: row;
	font-family: arial;
}
.footer a {
	color: #b2b2b2;
	border-bottom-color: #b2b2b2;
}

.footer__something {
	padding: 30px;
	flex-basis: 300px;
	background-color: #ebebeb;
	color: #333;
}

.footer__main {
	background-color: #3c3c3c;
	padding: 30px;
	flex-grow: 1;
}

.footer__stat-block {
	margin-bottom: 30px;
}

.copyright {
	margin:0 0 40px 0;
	min-width: 0;
}


@media (max-width: 800px){
	body{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.content p {
		margin:1em 10px;
	}
	.footer {
		flex-direction: column;
	}
	.places-in-category {
		flex-wrap: wrap;
		flex-direction: column;
	}
}
